<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EquipmentSatusBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EquipmentSatusBoard.Properties.Settings>
            <setting name="AppDataFolder" serializeAs="String">
                <value>\KBR Wyle\Equipment Status Board</value>
            </setting>
            <setting name="SavedPagesFolder" serializeAs="String">
                <value>\KBR Wyle\Equipment Status Board\Saved Pages</value>
            </setting>
            <setting name="ImagesFolder" serializeAs="String">
                <value>\KBR Wyle\Equipment Status Board\Images</value>
            </setting>
            <setting name="CurrentStatusBoardFilename" serializeAs="String">
                <value>\current.status</value>
            </setting>
            <setting name="SavedPhoneNumbersFilename" serializeAs="String">
                <value>\esb.phones</value>
            </setting>
            <setting name="SavedNotesFilename" serializeAs="String">
                <value>\esb.notes</value>
            </setting>
            <setting name="PasswordFilename" serializeAs="String">
                <value>\esbpwd.bin</value>
            </setting>
            <setting name="SavedRadarsFilename" serializeAs="String">
                <value>\radars.status</value>
            </setting>
            <setting name="EquipStatsNoteHeader" serializeAs="String">
                <value>Equip Status Note = </value>
            </setting>
        </EquipmentSatusBoard.Properties.Settings>
    </userSettings>
</configuration>